In [1]:
import pandas as pd

In [2]:
weather_weather = pd.read_csv(r'C:\Users\glll4\weather\full_weather.csv')
station_weather = pd.read_csv(r'C:\Users\glll4\station_country.csv')

weather = weather_weather.set_index('stn').join(station_weather.set_index('stn'))
weather = weather.groupby(by=['year','country']).mean().reset_index(0).reset_index()
weather.loc[weather['country'] == 'TU', 'country'] = 'Turkey'
weather.loc[weather['country'] == 'UA', 'country'] = 'Ukraine'
weather.loc[weather['country'] == 'AR', 'country'] = 'Argentina'
weather.loc[weather['country'] == 'AU', 'country'] = 'Australia'
weather.loc[weather['country'] == 'KZ', 'country'] = 'Kazakhstan'
weather.loc[weather['country'] == 'CA', 'country'] = 'Canada'
weather.loc[weather['country'] == 'MX', 'country'] = 'Mexico'
weather.loc[weather['country'] == 'ZA', 'country'] = 'South Africa'
weather.loc[weather['country'] == 'BR', 'country'] = 'Brazil'
weather.loc[weather['country'] == 'EG', 'country'] = 'Egypt'
weather['year'] = weather['year'].astype(str)

In [3]:
yield_data = pd.read_csv(r'C:\Users\glll4\Downloads\aas.csv')
yield_data = yield_data.drop(['Data Source', 'Element Name'], axis=1)
yield_data.columns = ['country', 'product', 'year', 'yield']
for i in range(len(yield_data)):
    yield_data.year[i] = yield_data.year[i][0:4]

<ipython-input-3-4df96446371e>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  yield_data.year[i] = yield_data.year[i][0:4]

In [4]:
final_df = pd.merge(yield_data.reset_index(), weather.reset_index(), on='country')
final_df = final_df[final_df.year_y == final_df.year_x].reset_index().drop(['index', 'index_x', 'year_y','index_y'], axis=1)
final_df.columns = ['country','product','year','yield','temperature','dew_point','sea_level_pressure','station_pressure','visibility','precipitation']
final_df = final_df[['country','year','product','yield','temperature','dew_point','sea_level_pressure','station_pressure','visibility','precipitation']]

In [5]:
final_df

,country,year,product,yield,temperature,dew_point,sea_level_pressure,station_pressure,visibility,precipitation
0,Argentina,2018,Maize,4.755,61.188216,56.577098,2820.497673,2026.820250,16.614058,1206.428243
1,Argentina,2017,Maize,5.837,63.464146,63.337611,3164.179816,2080.307228,23.127839,934.961932
2,Argentina,2016,Maize,5.768,60.420621,66.933353,2639.118592,1858.278462,15.742377,898.464384
3,Argentina,2015,Maize,5.633,61.533717,61.065016,2647.045057,1864.615657,22.024951,957.824028
4,Argentina,2014,Maize,5.410,61.170612,72.098932,2656.206465,1881.366823,20.161038,998.810685
...,...,...,...,...,...,...,...,...,...,...
660,Turkey,2004,Wheat,2.258,57.928593,50.001267,6286.512442,5756.268826,19.321756,1696.506667
661,Turkey,2003,Wheat,2.088,55.736388,71.393436,5218.595846,6536.278144,48.937029,1142.437872
662,Turkey,2002,Wheat,2.097,55.623766,55.769328,5748.095030,7116.556020,9.403977,1440.947237
663,Turkey,2001,Wheat,2.033,59.300567,47.447501,5611.239262,7047.702287,9.920617,1533.890286
664,Turkey,2000,Wheat,2.235,56.969780,46.366642,5868.923374,7480.292291,9.489687,1511.361061

In [7]:
final_df.to_csv('final_dataset.csv', index=False)