In [1]:
import pandas as pd

In [2]:
weather_weather = pd.read_csv(r'C:\Users\glll4\weather\full_weather.csv')
station_weather = pd.read_csv(r'C:\Users\glll4\station_country.csv')

weather = weather_weather.set_index('stn').join(station_weather.set_index('stn'))
weather = weather.groupby(by=['year','country']).mean().reset_index(0).reset_index()
weather.loc[weather['country'] == 'TU', 'country'] = 'Turkey'
weather.loc[weather['country'] == 'UA', 'country'] = 'Ukraine'
weather.loc[weather['country'] == 'AR', 'country'] = 'Argentina'
weather.loc[weather['country'] == 'AU', 'country'] = 'Australia'
weather.loc[weather['country'] == 'KZ', 'country'] = 'Kazakhstan'
weather.loc[weather['country'] == 'CA', 'country'] = 'Canada'
weather.loc[weather['country'] == 'MX', 'country'] = 'Mexico'
weather.loc[weather['country'] == 'ZA', 'country'] = 'South Africa'
weather.loc[weather['country'] == 'BR', 'country'] = 'Brazil'
weather.loc[weather['country'] == 'EG', 'country'] = 'Egypt'
weather['year'] = weather['year'].astype(str)

In [3]:
yield_data = pd.read_csv(r'C:\Users\glll4\Downloads\aas.csv')
yield_data = yield_data.drop(['Data Source', 'Element Name'], axis=1)
yield_data.columns = ['country', 'product', 'year', 'yield']
for i in range(len(yield_data)):
    yield_data.year[i] = yield_data.year[i][0:4]

In [4]:
final_df = pd.merge(yield_data.reset_index(), weather.reset_index(), on='country')
final_df = final_df[final_df.year_y == final_df.year_x].reset_index().drop(['index', 'index_x', 'year_y','index_y'], axis=1)
final_df.columns = ['country','product','year','yield','temperature','dew_point','sea_level_pressure','station_pressure','visibility','precipitation']
final_df = final_df[['country','year','product','yield','temperature','dew_point','sea_level_pressure','station_pressure','visibility','precipitation']]
final_df = final_df.drop(['dew_point','visibility'], axis=1)
final_df.temperature = 5 / 9 * (final_df.temperature - 32)

In [5]:
final_df.to_csv('final_dataset.csv', index=False)

In [6]:
final_df

,country,year,product,yield,temperature,sea_level_pressure,station_pressure,precipitation
0,Argentina,2018,Maize,4.755,16.215676,2820.497673,2026.820250,1206.428243
1,Argentina,2017,Maize,5.837,17.480081,3164.179816,2080.307228,934.961932
2,Argentina,2016,Maize,5.768,15.789234,2639.118592,1858.278462,898.464384
3,Argentina,2015,Maize,5.633,16.407620,2647.045057,1864.615657,957.824028
4,Argentina,2014,Maize,5.410,16.205896,2656.206465,1881.366823,998.810685
...,...,...,...,...,...,...,...,...
660,Turkey,2004,Wheat,2.258,14.404774,6286.512442,5756.268826,1696.506667
661,Turkey,2003,Wheat,2.088,13.186882,5218.595846,6536.278144,1142.437872
662,Turkey,2002,Wheat,2.097,13.124314,5748.095030,7116.556020,1440.947237
663,Turkey,2001,Wheat,2.033,15.166982,5611.239262,7047.702287,1533.890286
664,Turkey,2000,Wheat,2.235,13.872100,5868.923374,7480.292291,1511.361061