![raining](4.png)

In [10]:
import pandas as pd

# Функция, вытаскивающая среднегодовую температуру по странам

In [2]:
def extract_average_annual_temp(df):
    '''Функция, вытаскивающая среднегодовую температуру по странам
    
    Аргументы:
    df - Dateфрейм, в котором обязательно есть столбцы 'Date' с типом datetime, 'Код страны' и 'Cредняя температура'
    
    Возвращает:
    data - pandas.DataFrame объект со столбцами 'Country','Year',"Avg temperature"
    '''
    
    df['Year'] = df['Date'].dt.year
    data = df.groupby(['Country','Year'], as_index=False)["Avg temperature"].mean()
    data.columns = ['Country','Year',"Avg temperature"]
    return data

# Функция получения данных о погоде

Коды стран и номера метеостанций можно найти на сайте http://pogoda-service.ru/

In [4]:
def get_weather_data(country_list=['RS','US','AS','AR','CH','CA'],station_list=['27612','722950','949260','875850','545110','710630']):
    '''Функция получения данных о погоде
    
    Аргументы:
    country_list - список стран в виде их кода
    station_list - список станций в соответствии со странами в виде номеров станций
    
    Возвращает:
    data - pandas.DataFrame объект
    '''
    
    import requests

    df = []
    for j in range(len(country_list)):
        for i in range(6):
            url = r'http://pogoda-service.ru/archive_gsod_res.php?country={}&station={}&datepicker_beg=01.01.{}&datepicker_end=01.01.{}&bsubmit=Посмотреть'.format(country_list[j], station_list[j], str(2011+i),str(2012+i))
            header = {
              "User-Agent": "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/50.0.2661.75 Safari/537.36",
              "X-Requested-With": "XMLHttpRequest"
            }
            r = requests.get(url, headers=header)
            df.append(pd.read_html(r.text, match=r'ÐÐ°ÑÐ°')[0])
            df[-1]['Country code'] = country_list[j]
    data = pd.concat(df, sort=False, ignore_index=True)
    df = []
    data.columns = ['Date','Max temperature','Min temperature','Avg temperature','Atmospheric pressure','Wind speed','Rainfall','Effective temperature', 'Country']
    
    data.loc[data['Country'] == 'AR', 'Country'] = 'Argentina'
    data.loc[data['Country'] == 'RS', 'Country'] = 'Russian Federation'
    data.loc[data['Country'] == 'US', 'Country'] = 'United States of America'
    data.loc[data['Country'] == 'AS', 'Country'] = 'Australia'
    data.loc[data['Country'] == 'CH', 'Country'] = 'China'
    data.loc[data['Country'] == 'CA', 'Country'] = 'Canada'
    
    data['Date'] = pd.to_datetime(data['Date'])
    return extract_average_annual_temp(data)

# Функция, вытаскивающая данные урожая

In [6]:
def get_yield_data():
    '''Функция получения данных об урожайности
    
    Возвращает:
    df - pandas.DataFrame объект со столбцами 'Country','Item','Year','Value'
    '''
    
    df = pd.read_csv('fao.csv')
    df.drop(['Domain', 'Element'], axis='columns', inplace=True)
    df.columns = ['Country','Item','Year','Value']
    df = df[df.Year >= 2011].reset_index()
    df.drop('index', axis='columns', inplace=True)
    
    df = df.assign(idx=df.groupby(['Item']).cumcount()).pivot_table(index=['Year','Country'],columns='Item', values='Value')
    df = df.reset_index(0).reset_index()
    
    return df

В качестве мест наблюдения возьмем столицы стран:

In [7]:
country_list = ['RS','US','AS','AR','CH','CA']
station_list = ['27612','725033','949260','875850','545110','710630']

Посмотрим на эти данные:

In [11]:
df1 = get_weather_data()

In [12]:
df2 = get_yield_data()

In [13]:
df1

                     Country  Year  Avg temperature
0                  Argentina  2011        19.835088
1                  Argentina  2012        18.298365
2                  Argentina  2013        18.051913
3                  Argentina  2014        21.604490
4                  Argentina  2015        18.500000
5                  Argentina  2016        17.715342
6                  Australia  2011        12.835342
7                  Australia  2012        12.479837
8                  Australia  2013        13.613934
9                  Australia  2014        13.707397
10                 Australia  2015        13.298904
11                 Australia  2016        13.995342
12                    Canada  2011         7.717808
13                    Canada  2012         7.991643
14                    Canada  2013         6.470621
15                    Canada  2014         4.831475
16                    Canada  2015         6.905882
17                    Canada  2016         7.977159
18                     China  2011        12.650959
19                     China  2012        12.005995
20                     China  2013        12.418306
21                     China  2014        13.771781
22                     China  2015        13.321644
23                     China  2016        13.287397
24  United States of America  2011        16.293425
25  United States of America  2012        17.063488
26  United States of America  2013        17.214208
27  United States of America  2014        18.484153
28  United States of America  2015        18.242896
29  United States of America  2016        17.852044
30  United States of America  2017        10.100000

In [14]:
df2

Item,Country,Year,Barley,"Beans, green",Maize,Oats,Soybeans,Wheat
0,Argentina,2011,36439.0,40220.0,63503.0,21158.0,26053.0,35063.0
1,Australia,2011,21719.0,50563.0,57390.0,13652.0,17136.0,20301.0
2,Russian Federation,2011,22028.0,NaN,43444.0,18153.0,13820.0,22645.0
3,United States of America,2011,37160.0,31766.0,92146.0,20547.0,28232.0,29422.0
4,Argentina,2012,30440.0,34286.0,57346.0,19057.0,22814.0,32199.0
5,Australia,2012,22109.0,50000.0,64654.0,17261.0,22598.0,21511.0
6,Russian Federation,2012,18259.0,NaN,42388.0,14120.0,12239.0,17727.0
7,United States of America,2012,35986.0,41585.0,77270.0,21944.0,26867.0,31154.0
8,Argentina,2013,39102.0,29679.0,66037.0,19673.0,25391.0,26581.0
9,Australia,2013,20502.0,61896.0,64441.0,15388.0,22336.0,17609.0
10,Russian Federation,2013,19209.0,NaN,50110.0,16451.0,12642.0,22288.0
11,United States of America,2013,38358.0,37669.0,99256.0,22978.0,29615.0,31673.0
12,Argentina,2014,32642.0,34728.0,68409.0,23370.0,27735.0,26619.0
13,Australia,2014,24054.0,49263.0,74554.0,17555.0,21622.0,20061.0
14,Russian Federation,2014,22710.0,NaN,43593.0,17063.0,12337.0,24976.0
15,United States of America,2014,39115.0,40712.0,107326.0,24338.0,31977.0,29378.0
16,Argentina,2015,32642.0,32897.0,73090.0,21458.0,31752.0,28100.0
17,Australia,2015,21202.0,54823.0,83001.0,14021.0,18500.0,19172.0
18,Russian Federation,2015,21315.0,NaN,49337.0,16027.0,12992.0,23883.0
19,United States of America,2015,37083.0,47282.0,105723.0,25168.0,32289.0,29299.0
20,Argentina,2016,39608.0,32435.0,74427.0,23094.0,30146.0,28623.0
21,Australia,2016,21892.0,52393.0,75080.0,15821.0,19048.0,19743.0
22,Russian Federation,2016,22090.0,NaN,55029.0,17360.0,14824.0,26854.0
23,United States of America,2016,41931.0,33480.0,117433.0,23677.0,34936.0,35408.0
24,Argentina,2017,42991.0,33353.0,75759.0,24450.0,31711.0,33047.0
25,Australia,2017,27939.0,54004.0,64363.0,22041.0,18235.0,26100.0
26,Russian Federation,2017,26286.0,NaN,48875.0,19639.0,14074.0,31254.0
27,United States of America,2017,39283.0,31221.0,118754.0,22120.0,33133.0,31175.0
28,Argentina,2018,41827.0,32895.0,60883.0,22514.0,23157.0,31806.0
29,Australia,2018,22438.0,64003.0,73365.0,14046.0,17027.0,19178.0
30,Russian Federation,2018,21580.0,NaN,48067.0,17292.0,14692.0,27250.0
31,United States of America,2018,41637.0,32175.0,118639.0,23274.0,34681.0,31999.0